* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: whitesmoke;
}

#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2dvw;
}